.plant-card { 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.wrapper {
  display: flex; 
  justify-content: space-between; 
}

.corner-icon {
  color: #888;
}
.corner-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}


.stats{
  padding-bottom: 10px;
}

.stats:hover{
  cursor: default;
  transform: translateY(-2px);
  transition: 0.2s ease-in-out;
}


.header { 
  display: flex; 
  justify-content: space-between; 
  font-size: 0.8rem; 
  color: #888; 
  text-transform: uppercase; 
  letter-spacing: 0.5px; 
  padding-top: 15px;
}

.description { 
  font-size: 0.9rem; 
  color: #555; 
}

h3 { 
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 1.2rem; 
  color: #494949; 
}


.moisture-badge {
  display: inline-flex; 
  align-items: center; 
  gap: 6px;
  padding: 6px 12px;
  border-radius: 24px;
  background: #e6f4ea; color: #1e8e3e; 
  font-weight: bold;
  
@keyframes breathe-red {
  0% {
    box-shadow: 0 0 4px 0px rgba(255, 51, 51, 0.3);
  }
  50% {
    box-shadow: 0 0 16px 3px rgba(255, 51, 51, 0.6);
  }
  100% {
    box-shadow: 0 0 4px 0px rgba(255, 51, 51, 0.3);
  }
}

&.low {
  background: #fce8e6; 
  color: #ca1b18; 
  
  animation: breathe-red 2s ease-in-out infinite;
}
}

.moisture-num {
  font-size: 1.7rem; 
  font-weight: light;
}