<div class="plant-card">
  <div class="header">        
    <div>
      <h3>{{ plant().name }}</h3> 
    </div>
    <div class="corner-icon">      
      <span class="pen" (click)="onEdit()">
        <lucide-icon [img]="PenIcon" size="20"></lucide-icon>
      </span>  
      <span class="trash" (click)="onDelete()">
        <lucide-icon [img]="TrashIcon" size="20"></lucide-icon>
      </span>
    </div>      
  </div>   
  
  <div class="wrapper">    
    <div class="item1">          
      <div class="description">
        <p>{{ plant().description }}</p> 
      </div>   
      <div class="footer">
        <div class="plant-info"><b>GROUP:</b> {{ plant().groupName }}</div>
        
        <div class="plant-info"><b>CREATED AT:</b> {{ plant().createdAt | date:'HH:mm | dd/MM/yyyy' }}</div>        
      </div>
    </div>

   <div class="item2 stats">
      <ngx-gauge 
        [type]="'arch'" 
        [value]="plant().currentMoisture" 
        [thick]="9" 
        [size]="140"
        [foregroundColor]="isLow() ? '#ca1b18' : '#1e8e3e'"
        [cap]="'butt'"
        [duration]="600" >
       
      </ngx-gauge>
    </div>
      
    
  </div>
</div>