$mobile-break: 768px;
$sidebar-width: 250px;

.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color-darker);
}

// SIDEBAR AREA 
.sidebar-area {
  width: $sidebar-width;
  flex-shrink: 0; 
  background: white;
  transition: transform 0.3s ease;
  
}

// MAIN CONTENT
.main-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.top-bar {
  display: flex;
  align-items: center;  
  background-color: var(--bg-color-light);
}

.content {
  flex-grow: 1;
  overflow-y: auto; // Scroll inside content
  padding: 13px;
}

.hamburger {
  display: none; 
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0 16px;
  cursor: pointer;  
}

.overlay {
  display: none;
}

@media (max-width: $mobile-break) {
  
  .hamburger {
    display: block;
  }

  .sidebar-area {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%); 
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
  }

  // show sidebar when mobile-open is added 
  .layout-wrapper.mobile-open {
    .sidebar-area {
      transform: translateX(0);
    }
    
    .overlay {
      display: block;
      position: fixed;
      inset: 0; 
      background: rgba(0,0,0,0.5);
      z-index: 999; 
    }
  }
  
  
  ::ng-deep app-sidebar .close-btn {
      display: block !important;
  }
}