.dashboard-grid {
  display: grid;
  gap: 1.5rem; 

  // MOBILE DEFAULT
  grid-template-columns: 1fr; 
  
  // DESKTOP 
  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, auto);// Base height for a "1 row" card
  }
}

.spacer {
  // hide on mobile
  display: none; 

  // show on desktop
  @media (min-width: 768px) {
    display: block; 
    grid-column: span var(--col-span, 1); 
  }
}

.noplants {
  // 1 column on mobile
  grid-column: 1 / -1; 
  flex-direction: column;
  background: rgba(177, 177, 177, 0.144); 
  display: flex;
  align-items: center;  
  justify-content: center;
  color: #818181;
  border-radius: 12px;
  border: 1px dashed #c0c0c0b4;
  min-height: 100px; // Ensure it has some height

  // show on desktop
  @media (min-width: 768px) {
    grid-column: span var(--col-span, 1); 
  }
}


.widget-card {
  background: var(--bg-color-light);
  border-radius: 12px;
  padding: 1.3rem;
  box-shadow: rgba(17, 17, 26, 0.027) 0px 1px 0px, rgba(17, 17, 26, 0.055) 0px 0px 5px;
  display: flex;
  flex-direction: column;
  
  
  // MOBILE: full width
  grid-column: span 1;
  grid-row: auto; 
  min-height: 180px; 

  @media (min-width: 768px) {
    grid-column: span var(--col-span, 3); 
    grid-row: span var(--row-span, 1);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1rem;
  height: 30px; 

  h3 { margin: 0; font-size: 1.1rem; color: #444; }

  // drop down
  .header-select {
    padding: 4px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 0.85rem;
    color: #555;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover, &:focus {
      border-color: #3f51b5; 
      color: #3f51b5;
    }
  }
}

.card-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9; 
  border-radius: 8px;
  color: #888;
}

.big-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3f51b5;
}