@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #1a7249;
  --primary-color-light: #288a5c;
  --sidebar-width: 250px;
  --bg-color-light: #ffffff;
  --bg-color-darker: #f3f3f3;
  --bg-color-green: #1a7249;
  --text-color-dark: #4d4d4d;
  --text-color-light: #ffffff;
  
}

html, body {  
  margin: 0;
  padding: 0; 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100; 
  scrollbar-width: none; /* scrollbar visibility for Firefox */
	-ms-overflow-style: none; /* scrollbar visibility for Edge*/
}

html ::-webkit-scrollbar {
  width: 0;  
  background: transparent;  // scrollbar visibility for Chrome
}

* {
  outline: none;
}