@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #1a7249;
  --primary-color-light: #378560;
  --sidebar-width: 250px;
  --bg-color-light: #ffffff;
  --bg-color-darker: #f1f1f1;
  --bg-color-green: #1a7249;
  --text-color-dark: #4d4d4d;
  --text-color-light: #ffffff;
  
}

html, body {
  margin: 0;
  padding: 0; 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
}

* {
  outline: none;
}