$mobile-break: 768px;

:host {
  display: block; // behave like a <div> 
  width: 100%;   
}

header {
  display: flex;
  padding-inline: 16px;
  padding-block: 12px;
  background-color: var(--bg-color-light);
  color: var(--text-color);
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 800;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;          
  
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 0 16px;     
  height: 45px;        
  min-width: 300px;
  transition: all 0.2s ease;
  border: 1px solid transparent; 

  &:focus-within {
    background-color: white;
    border-color: var(--primary-color);     
    .icon {
      color: var(--primary-color); 
    }
  }
}

.icon {
  color: #888;
  transition: color 0.2s ease;
  flex-shrink: 0; 
  padding-top: 3px;
}

.search-input {
  border: none;
  background: transparent; 
  outline: none;           
  width: 100%;            
  height: 100%;  
  font-size: 1rem;
  color: #333;
  
  &::placeholder {
    color: #999;
  }
}

.notification-wrapper {
  color: #888;
  flex-shrink: 0; 
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
}

@media (max-width: $mobile-break) {
  header {
    padding-block: 10px;
  }
  .search-wrapper {
    min-width: 210px;
  }
}
