:host {
  display: block;
  width: 100%;
  height: 100%; 
}

.chart-container {
  height: 100%; /* must have explicit height */
  width: 100%;
  display: flex;    
  align-items: center;
  justify-content: center;   
  min-height: 250px; 
}


// pill toggle buttons
.controls { 
  display: flex; 
  justify-content: flex-end; 
  margin-bottom: 10px; 
}

.time-toggles {
  display: flex;
  background: #f0f0f000;
  border-radius: 10px;
  padding: 3px;
}

button {
  border: none; 
  background: none;
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
}

button.active {
  background: white;
  color: #1a7249;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
  