:host {
      display: block;
      width: 100%;
      height: 100%; 
    }

    .chart-container {
      height: 100%; /* must have explicit height */
      width: 100%;
      display: flex;       
      min-height: 250px; /* Safety fallback */
    }