.my-plants-grid {
  display: grid;
  gap: 1rem;
  /* default 1 column for mobile */
  grid-template-columns: 1fr; 
 
  /* 2 columns for tablets and above */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.widget-card {
  background: var(--bg-color-light);
  border-radius: 16px;
  padding: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.027) 0px 1px 0px, rgba(17, 17, 26, 0.055) 0px 0px 5px;
  display: flex;
  flex-direction: column; 
  min-height: 220px; 
}

.noplants {
  grid-column: 1 / -1; 
  flex-direction: column;
  background: rgba(177, 177, 177, 0.144); 
  display: flex;
  align-items: center;  
  justify-content: center;
  color: #818181;
  border-radius: 12px;
  border: 1px dashed #c0c0c0b4;
  min-height: 150px; 
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.6em 1.2em 0.6em 1em;
  transition: all ease-in-out 0.1s;
  font-size: 17px;
  color: #fff;  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

button span {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: 500;
  gap: 4px;
}

button.add{
  background-color: var(--primary-color);
}

button.add:hover {
  background-color: var(--primary-color-light);
}

button.sort{
  background-color: rgb(255, 255, 255);
  color: #818181;
}

button.sort:hover {
  background-color: rgb(250, 250, 250);
}

button.sort .icon{
  fill: #818181;
}

// Container for the text and buttons
.delete-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  
  p {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
  }
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.btn-danger {
  background-color: #ca1b18;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  width: 100%;

  &:hover {
    background-color: #a81613; 
  }

  &:active {
    transform: scale(0.98); 
  }
}

.btn-cancel {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;

  &:hover {
    background-color: #e4e4e4;
  }
}
