.my-plants-grid {
  display: grid;
  gap: 1.4rem; 
  grid-template-columns: 1fr;   
}

.widget-card {
  background: var(--bg-color-light);
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.027) 0px 1px 0px, rgba(17, 17, 26, 0.055) 0px 0px 5px;
  display: flex;
  flex-direction: column; 
  grid-column: span 1;
  grid-row: auto; 
  min-height: 220px; 
}
